annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "4"
anyio==4.8.0 ; python_version >= "3.12" and python_version < "4.0"
asgiref==3.8.1 ; python_version >= "3.12" and python_version < "4"
attrs==25.1.0 ; python_version >= "3.12" and python_version < "4.0"
babel==2.17.0 ; python_version >= "3.12" and python_version < "4"
boto3==1.35.92 ; python_version >= "3.12" and python_version < "4"
botocore==1.35.99 ; python_version >= "3.12" and python_version < "4"
certifi==2025.1.31 ; python_version >= "3.12" and python_version < "4"
charset-normalizer==3.4.1 ; python_version >= "3.12" and python_version < "4"
click==8.1.8 ; python_version >= "3.12" and python_version < "4"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4"
dateutils==0.6.12 ; python_version >= "3.12" and python_version < "4"
defusedxml==0.7.1 ; python_version >= "3.12" and python_version < "4"
diff-match-patch==20241021 ; python_version >= "3.12" and python_version < "4"
django-adminactions==2.3.0 ; python_version >= "3.12" and python_version < "4"
django-allauth==65.4.1 ; python_version >= "3.12" and python_version < "4"
django-countries[pyuca]==7.6.1 ; python_version >= "3.12" and python_version < "4"
django-easy-logging==0.70 ; python_version >= "3.12" and python_version < "4"
django-embed-video==1.4.10 ; python_version >= "3.12" and python_version < "4"
django-enum==2.0.2 ; python_version >= "3.12" and python_version < "4.0"
django-environ==0.12.0 ; python_version >= "3.12" and python_version < "4"
django-extensions==3.2.3 ; python_version >= "3.12" and python_version < "4"
django-filter==24.3 ; python_version >= "3.12" and python_version < "4"
django-health-check==3.18.3 ; python_version >= "3.12" and python_version < "4"
django-import-export[all]==4.3.6 ; python_version >= "3.12" and python_version < "4"
django-model-utils==5.0.0 ; python_version >= "3.12" and python_version < "4"
django-ninja==1.3.0 ; python_version >= "3.12" and python_version < "4"
django-opensearch-dsl==0.6.2 ; python_version >= "3.12" and python_version < "4"
django-pictures==1.4.0 ; python_version >= "3.12" and python_version < "4"
django-prometheus==2.3.1 ; python_version >= "3.12" and python_version < "4"
django-redis==5.4.0 ; python_version >= "3.12" and python_version < "4"
django-s3-file-field[s3]==1.0.1 ; python_version >= "3.12" and python_version < "4"
django-simple-history==3.8.0 ; python_version >= "3.12" and python_version < "4"
django-storages[s3]==1.14.5 ; python_version >= "3.12" and python_version < "4"
django==5.1.6 ; python_version >= "3.12" and python_version < "4"
djangorestframework==3.15.2 ; python_version >= "3.12" and python_version < "4"
et-xmlfile==2.0.0 ; python_version >= "3.12" and python_version < "4"
events==0.5 ; python_version >= "3.12" and python_version < "4"
ghp-import==2.1.0 ; python_version >= "3.12" and python_version < "4"
h11==0.14.0 ; python_version >= "3.12" and python_version < "4.0"
httpcore==1.0.7 ; python_version >= "3.12" and python_version < "4.0"
httpx==0.27.2 ; python_version >= "3.12" and python_version < "4.0"
idna==3.10 ; python_version >= "3.12" and python_version < "4"
jinja2==3.1.5 ; python_version >= "3.12" and python_version < "4"
jmespath==1.0.1 ; python_version >= "3.12" and python_version < "4"
loguru==0.7.3 ; python_version >= "3.12" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.12" and python_version < "4.0"
markdown==3.7 ; python_version >= "3.12" and python_version < "4"
markupsafe==3.0.2 ; python_version >= "3.12" and python_version < "4"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "4.0"
mergedeep==1.3.4 ; python_version >= "3.12" and python_version < "4"
mkdocs-get-deps==0.2.0 ; python_version >= "3.12" and python_version < "4"
mkdocs-material-extensions==1.3.1 ; python_version >= "3.12" and python_version < "4"
mkdocs-material==9.6.5 ; python_version >= "3.12" and python_version < "4"
mkdocs==1.6.1 ; python_version >= "3.12" and python_version < "4"
mutagen==1.47.0 ; python_version >= "3.12" and python_version < "4"
ninja-api-key==1.0.2 ; python_version >= "3.12" and python_version < "4"
ninja-put-patch-file-upload-middleware==0.1.4 ; python_version >= "3.12" and python_version < "4"
numpy==2.2.3 ; python_version >= "3.12" and python_version < "4"
odfpy==1.4.1 ; python_version >= "3.12" and python_version < "4"
openapi-python-client==0.21.7 ; python_version >= "3.12" and python_version < "4.0"
opencv-python-headless==4.11.0.86 ; python_version >= "3.12" and python_version < "4"
openpyxl==3.1.5 ; python_version >= "3.12" and python_version < "4"
opensearch-py==2.8.0 ; python_version >= "3.12" and python_version < "4"
packaging==24.2 ; python_version >= "3.12" and python_version < "4"
paginate==0.5.7 ; python_version >= "3.12" and python_version < "4"
pandas==2.2.3 ; python_version >= "3.12" and python_version < "4"
pathspec==0.12.1 ; python_version >= "3.12" and python_version < "4"
pillow==11.1.0 ; python_version >= "3.12" and python_version < "4"
platformdirs==4.3.6 ; python_version >= "3.12" and python_version < "4"
prometheus-client==0.21.1 ; python_version >= "3.12" and python_version < "4"
psycopg2-binary==2.9.10 ; python_version >= "3.12" and python_version < "4"
pycountry==24.6.1 ; python_version >= "3.12" and python_version < "4"
pydantic-core==2.27.2 ; python_version >= "3.12" and python_version < "4"
pydantic-extra-types==2.10.2 ; python_version >= "3.12" and python_version < "4"
pydantic==2.10.6 ; python_version >= "3.12" and python_version < "4"
pygments==2.19.1 ; python_version >= "3.12" and python_version < "4"
pymdown-extensions==10.14.3 ; python_version >= "3.12" and python_version < "4"
pyproject-hooks==1.2.0 ; python_version >= "3.12" and python_version < "4"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.12" and python_version < "4"
python-slugify==8.0.4 ; python_version >= "3.12" and python_version < "4"
pytz==2025.1 ; python_version >= "3.12" and python_version < "4"
pyuca==1.2 ; python_version >= "3.12" and python_version < "4"
pyyaml-env-tag==0.1 ; python_version >= "3.12" and python_version < "4"
pyyaml==6.0.2 ; python_version >= "3.12" and python_version < "4"
redis==5.2.1 ; python_version >= "3.12" and python_version < "4"
regex==2024.11.6 ; python_version >= "3.12" and python_version < "4"
requests==2.32.3 ; python_version >= "3.12" and python_version < "4"
rich==13.9.4 ; python_version >= "3.12" and python_version < "4.0"
ruamel-yaml-clib==0.2.12 ; platform_python_implementation == "CPython" and python_version < "3.13" and python_version >= "3.12"
ruamel-yaml==0.18.10 ; python_version >= "3.12" and python_version < "4.0"
ruff==0.7.4 ; python_version >= "3.12" and python_version < "4.0"
s3transfer==0.10.4 ; python_version >= "3.12" and python_version < "4"
shellingham==1.5.4 ; python_version >= "3.12" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.12" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.5.3 ; python_version >= "3.12" and python_version < "4"
tablib==3.8.0 ; python_version >= "3.12" and python_version < "4"
tablib[all]==3.8.0 ; python_version >= "3.12" and python_version < "4"
tabulate==0.9.0 ; python_version >= "3.12" and python_version < "4"
text-unidecode==1.3 ; python_version >= "3.12" and python_version < "4"
typer==0.12.5 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.12" and python_version < "4"
tzdata==2025.1 ; python_version >= "3.12" and python_version < "4"
urllib3==2.3.0 ; python_version >= "3.12" and python_version < "4"
watchdog==6.0.0 ; python_version >= "3.12" and python_version < "4"
win32-setctime==1.2.0 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
xlrd==2.0.1 ; python_version >= "3.12" and python_version < "4"
xlwt==1.3.0 ; python_version >= "3.12" and python_version < "4"
