annotated-types==0.7.0 
asgiref==3.8.1 
boto3==1.35.92 
botocore==1.35.99 
certifi==2025.1.31 
charset-normalizer==3.4.1 
colorama==0.4.6 
dateutils==0.6.12 
defusedxml==0.7.1 
diff-match-patch==20241021 
django-adminactions==2.4 
django-allauth==65.7.0 
django-countries[pyuca]==7.6.1 
django-easy-logging==0.70 
django-embed-video==1.4.10 
django-enum==2.2.0 
django-environ==0.12.0 
django-extensions==3.2.3 
django-filter==25.1 
django-health-check==3.18.3 
django-import-export[all]==4.3.7 
django-model-utils==5.0.0 
django-ninja==1.4.1 
django-opensearch-dsl==0.6.2 
django-pictures==1.4.0 
django-prometheus==2.3.1 
django-redis==5.4.0 
django-s3-file-field[s3]==1.0.1 
django-simple-history==3.8.0 
django-storages[s3]==1.14.6 
django-stubs-ext==5.1.3 
django==5.2 
djangorestframework==3.16.0 
et-xmlfile==2.0.0 
events==0.5 
idna==3.10 
jmespath==1.0.1 
loguru==0.7.3 
mutagen==1.47.0 
ninja-api-key==1.0.2 
ninja-put-patch-file-upload-middleware==0.1.4 
numpy==2.2.4 
odfpy==1.4.1 
opencv-python-headless==4.11.0.86 
openpyxl==3.1.5 
opensearch-py==2.8.0 
pandas==2.2.3 
pillow==11.1.0 
poetry-core==2.1.2 
prometheus-client==0.21.1 
psycopg2-binary==2.9.10 
pycountry==24.6.1 
pydantic-core==2.33.1 
pydantic-extra-types==2.10.3 
pydantic==2.11.3 
pyproject-hooks==1.2.0 
python-dateutil==2.9.0.post0 
python-dotenv==1.1.0 
python-slugify==8.0.4 
pytz==2025.2 
pyuca==1.2 
pyyaml==6.0.2 
redis==5.2.1 
requests==2.32.3 
s3transfer==0.10.4 
sentry-sdk==2.25.1 
six==1.17.0 
sqlparse==0.5.3 
tablib==3.8.0 
tablib[all]==3.8.0 
tabulate==0.9.0 
text-unidecode==1.3 
typing-extensions==4.13.2 
typing-inspection==0.4.0 
tzdata==2025.2 
urllib3==2.4.0 
win32-setctime==1.2.0 
xlrd==2.0.1 
xlwt==1.3.0 
