{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Шапка трека -->
<div class="track-detail-header">
  <div class="track-detail-background" style="background-image: linear-gradient(rgba(0,0,0,0.3), var(--bg-dark)), url('{{ track.release.cover_image.image.url }}');"></div>
  
  <div class="detail-info">
    <div class="detail-cover">
      <img src="{% if track.cover_image %}{{ track.cover_image.image.url }}{% else %}{{ track.release.cover_image.image.url }}{% endif %}" alt="{{ track.name }}">
    </div>
    
    <div class="detail-meta">
      <span class="detail-type">{{ track.track_type }}</span>
      <h1 class="detail-title">{{ track.name }}</h1>
      
      <div class="detail-artist-info">
        <div class="detail-artist-details">
          <a href="music/artist/{{ track.artists.first.id }}/" class="detail-artist-name">{{ track.artists.first.name }}</a>
          <div class="detail-stats">
            <span>{{ track.release.release_date|date:"Y" }}</span>
            <span class="dot-separator">•</span>
            <span>{{ release_tracks.count }} {% if release_tracks.count == 1 %}трек{% elif 2 <= release_tracks.count and release_tracks.count <= 4 %}трека{% else %}треков{% endif %}</span>
            <span class="dot-separator">•</span>
            <span>{{ total_duration }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Кнопки управления -->
  <div class="detail-controls">
    <button class="detail-play-button" id="mainPlayButton" data-track-id="{{ track.id }}" data-track-name="{{ track.name }}" data-artist-name="{{ track.artists.first.name }}" data-cover-url="{% if track.cover_image %}{{ track.cover_image.image.url }}{% else %}{{ track.release.cover_image.image.url }}{% endif %}" data-audio-url="{{ track.audio_file.url }}" data-video-url="{% if track.video_file %}{{ track.video_file.url }}{% endif %}">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 5V19L19 12L8 5Z" fill="black"></path>
      </svg>
    </button>
    <button class="detail-action-button like-button">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 21.35L10.55 20.03C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3C9.24 3 10.91 3.81 12 5.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5C22 12.27 18.6 15.36 13.45 20.03L12 21.35Z" fill="currentColor"></path>
      </svg>
    </button>
    <button class="detail-action-button more-button">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 8C13.1 8 14 7.1 14 6C14 4.9 13.1 4 12 4C10.9 4 10 4.9 10 6C10 7.1 10.9 8 12 8ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10ZM12 16C10.9 16 10 16.9 10 18C10 19.1 10.9 20 12 20C13.1 20 14 19.1 14 18C14 16.9 13.1 16 12 16Z" fill="currentColor"></path>
      </svg>
    </button>
  </div>
</div>

<!-- Список треков -->
<div class="detail-track-list-container">
  <div class="detail-track-list-header">
    <div class="detail-track-number">#</div>
    <div class="detail-track-title-header">Название</div>
    <div class="detail-track-duration">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 3.5C5.51 3.5 3.5 5.51 3.5 8C3.5 10.49 5.51 12.5 8 12.5C10.49 12.5 12.5 10.49 12.5 8C12.5 5.51 10.49 3.5 8 3.5ZM8 11.5C6.07 11.5 4.5 9.93 4.5 8C4.5 6.07 6.07 4.5 8 4.5C9.93 4.5 11.5 6.07 11.5 8C11.5 9.93 9.93 11.5 8 11.5ZM8.25 5.75H7.5V8.5L9.75 9.9L10.125 9.285L8.25 8.13V5.75Z" fill="currentColor"></path>
      </svg>
    </div>
  </div>
  
  <!-- Треки -->
  <div class="detail-track-list">
    {% for track_item in release_tracks %}
    <div class="detail-track-item"
         data-track-id="{{ track_item.id }}" 
         data-track-name="{{ track_item.name }}" 
         data-artist-name="{% for artist in track_item.artists.all %}{{ artist.name }}{% if not forloop.last %}, {% endif %}{% endfor %}" 
         data-cover-url="{% if track_item.cover_image %}{{ track_item.cover_image.image.url }}{% else %}{{ track_item.release.cover_image.image.url }}{% endif %}"
         data-audio-url="{{ track_item.track.audio.url }}"
         data-video-url="{% if track_item.video %}{{ track_item.video.video.url }}{% endif %}">
      <div class="detail-track-number">
        <span class="detail-track-index">{{ forloop.counter }}</span>
        <button class="detail-play-button-small">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.5 3.5V12.5L12.5 8L4.5 3.5Z" fill="white"></path>
          </svg>
        </button>
      </div>
      <div class="detail-track-info-container">
        <div class="detail-track-name">{{ track_item.name }}</div>
        <div class="detail-track-artists">
          {% for artist in track_item.artists.all %}
          <a href="music/artist/{{ artist.id }}" class="detail-track-artist-link">{{ artist.name }}{% if not forloop.last %}, {% endif %}</a>
          {% endfor %}
        </div>
      </div>
      <div class="detail-track-duration">{{ track_item.duration_formatted }}</div>
    </div>
    {% endfor %}
  </div>
  <!-- Информация о выпуске -->
  <div class="detail-release-info">
    <p class="detail-release-date">{{ track.release.release_date|date:"d F Y" }}</p>
    <p class="detail-copyright">{% if track.release.label %}© {{ track.release.release_date|date:"Y" }} {{ track.release.label }}{% endif %}</p>
  </div>
</div>

<!-- Включаем плеер -->
{% include 'player.html' %}

{% endblock %}

{% block extra_scripts %}
<script src="{% static 'music/js/player-detail.js' %}"></script>
{% endblock %}
